[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
psycopg2 = "*"
django-widget-tweaks = "*"
django-userforeignkey = "*"
django-ckeditor = "*"
django-taggit = "*"

[requires]
python_version = "3.7"
