{% extends "base.html" %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="row">
        <div class="col-10">
            <h5 class="text-center mt-4"> {{object.subject}}</h5>
            <div  class="mt-4"> {{ object.message|safe}}</div>
            <div class="row mt-4">
                <div class="col-4">
                    <strong class="text-muted ">Published by {{ object.author.username }}</strong><br>
                    <strong class="text-muted text-right">On {{ object.created_at }}</strong>
                </div>
                <br>
            </div>
        </div>
    </div>
    <br><br>
    <hr>

<!------------ Section for comments ------------------------->

    <div class="main-comment-section">
        <div class="container-fluid mt-2">
            <div class="form-group row">
                <form method="POST">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" value="Comment" class="btn btn-outline-success">
                </form>
            </div>
        </div>
        {{ comments.count }} Comment{{ comments|pluralize }}
        {% for comment in comments %}
            <blockquote class="blockquote">
                <p class="mb-0"><small>{{ comment.content }}</small></p>
                <footer class="blockquote-footer"><small>by<cite title="Source Title">{{ comment.user|capfirst }}</cite></small>
                    <!-- <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm ml-2">Reply</button> -->
                </footer>
            </blockquote>

<!--------------- Section for repling comments -------------->

            <div class="replied-comments container mt-2" >
                {% for reply in comment.replies.all %}
                    <blockquote class="blockquote">
                        <p class="mb-0"><small>{{ reply.content }}</small></p>
                        <footer class="blockquote-footer"><small>by<cite title="Source Title">{{ reply.user|capfirst }}</cite></small></footer>
                    </blockquote>
                {% endfor %}
                <div class="form-group  row">
                    <form method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        {{ comment_form.as_p }}
                        <input type="submit" value="Reply" class="btn btn-outline-success">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock  %}

<!------------------ Section for footer ------------------>

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock  %}
    