{% extends "base.html" %}

{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
<div class="row mt-3 mb-3">


<!----------- Section for search field ----------------------->

<div class="col-lg-4">
        <!-- <div class="row"> -->
                <form action="{% url 'search_result' %}" method="get" class="form-inline my-4 my-lg-0">
                        <input  type="search" name="query" class="form-control mr-sm-2" placeholder="Search......" aria-label="Search">
                        <button type="submit" class="btn_search btn btn-outline-success my-2 my-sm-0" style=" background: #029ddd !important; color: #fff;font-weight: 900;">Go!</button>
                    </form>
        <!-- </div> -->
    </div>
</div>
  

<!----------- Section for jumbotron ----------------------->

<div class="jumbotron ">
  <div class="container">
      <h1 class="display-4 text-light">University of Rwanda Blog</h1>
      <p>Find All Your most rated articles.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">most rated &raquo;</a></p>
  </div>
</div>
<!----------- Section for main container ----------------------->

<h2>Latest Articles</h2>


  <div class="row">
      <div class="col-lg-9">
            <div class="row">
              {% for articles in article %}

                <div class="col-md-4 mt-3 left">
                            {% for tag in articles.tags.all %} 
                           <div class="col"><a class="inline" href="{% url 'tagged' tag.slug %}">#{{ tag.name }}</a></div>           
                                {% endfor %}

                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'article_details' articles.id %}"><h4 class="card-title text-primary">{{ articles.subject }}</h4></a>
                            <p class="card-image"> <img src="{{ articles.picture.url}}" alt="" width="210px" height="100px"> </p>
                                  <!-- <p class="card-text">{{ articles.snippet }}</p> -->
                            <p class="card-text"> <hr> </p>
                            <small><p class="card-text text-muted">{{ articles.created_at }}</p></small>
                            <small><p class="card-text text-muted">Publisher:  {{ articles.author }}</p></small>
                           <br>

                                   <!-- section of likes and comments icon -->
                         <div class="row ">
                        
                        <i class="fa fa-thumbs-o-up text-muted" aria-hidden="true"></i>{{  articles.likes.count }}
                        
                        <i class="fa fa-thumbs-o-down text-muted" aria-hidden="true"></i>{{  articles.dislikes.count }}
                         
                        <i  class="fa fa-comment-o text-muted" aria-hidden="true"></i>{{ comments.count }}
                       
                        </div> 

                        </div>
                    </div>
                </div>
              {% endfor %}
          </div>
        </div>

<!----------- Section for sidebar ----------------------->

<div class="col-lg-3">
    <div class="row">
        <div class="col">
            <h4>Most rated articles</h4>
                <div class="card">
                    <div class="card-body">
                        <a href="https://us4.admin.mailchimp.com/lists/members?id=328261&previewName=Subscribers#p:1-s:25-so:null">admin check subscriber list</a>
                        <a href="https://us4.admin.mailchimp.com/reports/#t:campaigns-list">subscriber general report</a>
                        <hr>
                    </div>
                </div>
                  <hr>

 <!----------- Section for mailchimp----------------------->

<div class="card">
    <div class="card-body">
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          #mc-embedded-subscribe{background: blue}
          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>

<!--------------------- Begin Mailchimp Signup Form --------->

<div id="mc_embed_signup">
    <form action="https://gmail.us4.list-manage.com/subscribe/post?u=c4c6980fd3353f4de9044aea3&amp;id=96515d4005" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
              <h2 style="color: blue">Subscribe</h2>
              <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address </label>
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="mc-field-group">
                  <label for="mce-group[67325]">Article Category </label>
                      <select name="group[67325]" class="REQ_CSS" id="mce-group[67325]">
                          <option value=""></option>
                          <option value="1">CST</option>
                          <option value="2">CMHS</option>
                          <option value="4">CE</option>
                          <option value="8">CASS</option>
                          <option value="16">CAVM</option>
                      </select>
              </div>
              <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                      <input type="text" name="b_c4c6980fd3353f4de9044aea3_96515d4005" tabindex="-1" value="">
                  </div>
                  <div class="clear">
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background: blue">
                  </div>
          </div>
    </form>
</div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
      </div>
          </div>
              </div>
                </div>   
                  </div>
                     </div> 
<div class="container text-center" style="clear: left">
     <a href="#"><p>See more Articles</p></a>
</div>

{% endblock %}

<!----------------------- Section for footer ------------------->

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}
