{% extends 'base.html' %}


{% block content %}
<h2>Search Results</h2>


<div class="row">
    {% for articles in object_list %}
    <div class="card mb-4">
        <div class="card-body">
            <a href="{% url 'article_details' articles.id %}"><h4 class="card-title text-primary">{{ articles.subject }}</h4></a>
            <p class="card-image"> <img src=" img/logo.png " alt=".....image" > </p>
            <!-- <p class="card-text">{{ articles.snippet }}</p> -->
            <p class="card-text"> <hr> </p>
            <p class="card-text">wednesday ,August 14, 2019</p>
            <p class="card-text">Publisher:{{ articles.author }}</p>
        </div>
    </div>

    {% endfor %}
</div> 
{% endblock  %}
    

